---
import HeadSEO from "@/components/core/HeadSEO.astro";
import Header from "@/components/core/Header.astro";

import { LOCALE } from "@data/config";
import type { BaseLayoutProps } from "@/lib/types";

const { title, description, image, imageAlt, contentType } =
    Astro.props as BaseLayoutProps;
---

<html lang=`${LOCALE.lang ?? "en"}`>
    <head>
        <HeadSEO
            title={title}
            description={description}
            image={image}
            imageAlt={imageAlt}
            contentType={contentType}
        />
    </head>

    <body class="flex flex-col">
        <Header />
        <div class="flex flex-1">
            <main class="flex h-full w-full justify-center">
                <div class="flex w-full max-w-7xl flex-col justify-center px-4">
                    <slot />
                </div>
            </main>
        </div>
    </body>
</html>
